{% extends 'admin_base.html' %}
{% block content %}


	<main>
		
		<div class="cards">
			<div class="card-single">
				<div>
					<h1>4</h1>
					<span>Referrals</span>
				</div>
				<div>
					<span class="las la-users"></span>
				</div>
			</div>

			<div class="card-single">
				<div>
					<h1>14000.00</h1>
					<span>Total earned</span>
				</div>
				<div>
					<span class="las la-dollar-sign"></span>
				</div>
			</div>

			<div class="card-single">
				<div>
					<h1>0.00</h1>
					<span>Active deposit</span>
				</div>
				<div>
					<span class="las la-dollar-sign"></span>
				</div>
			</div>

			<div class="card-single">
				<div>
					<h1>60000.00</h1>
					<span>Total balance</span>
				</div>
				<div>
					<span class="las la-dollar-sign"></span>
				</div>
			</div>
		</div>
		
		<div class="recent-grid">
			<div class="projects">
				<div class="card">
					<div class="card-header">
						<h3>Profile Info</h3>
					</div>

					<div class="card-body">
						<div class="table-responsive">
							<table width="100%">
								<thead>
									<tr>
										<td>Jobs</td>
										<td>Jobs info</td>
										<td>Created by</td>
										<td>Accepted by</td>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Username</td>
										<td> Nicknick</td>
										<td></td>
										<td></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>

				</div>
			</div>

			
		</div>
	</main>
{% endblock %}
