

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width-device-width,initial-scale=1,maximum-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Wallstreetbulls</title>
	<link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
	<link rel="stylesheet" href="admin.css" type="text/css">
</head>
<body>

	<input type="checkbox" id="nav-toggle">
	<div class="sidebar">
		<div class="sidebrand">
		<br>
			<h2><img src="bull.png"> <span>WSB</span> </h2>
		</div>
		<div class="sidebar-menu">
			<ul>
				<li>
				<br>
					<a href="admin.html"><span class="las la-igloo"></span>
					<span>Dashboard</span></a>
				</li>
				<li>
					<a href="profile.html"  class="active"><span class="las la-user"></span>
					<span>Profile</span></a>
				</li>
				<li>
					<a href="wallet.html"><span class="lab la-google-wallet"></span>
					<span>Wallet</span></a>
				</li>
				<li>
					<a href="#"><span class="las la-home"></span>
					<span>Home</span></a>
				</li>
				<li>
					<a href="#"><span class="las la-sign-out-alt"></span>
					<span>Logout</span></a>
				</li>
			</ul>
		</div>
	</div>

	<div class="main-content">
		<header>
			<h2>
				<label for="nav-toggle">
					<span class="las la-bars"></span>
				</label>

				Wallstreetbulls.tech
			</h2>
			<div class="user-wrapper">
				<img src="pp.jpg" width="40px" height="40px" alt="">
				<div>
					<h4>Nicholas Lawson</h4>
					<small>investor</small>
				</div>
			</div>

		</header>

		<main>
			
			<div class="cards">
				<div class="card-single">
					<div>
						<h1>4</h1>
						<span>Referals</span>
					</div>
					<div>
						<span class="las la-users"></span>
					</div>
				</div>

				<div class="card-single">
					<div>
						<h1>400.00</h1>
						<span>Total earned</span>
					</div>
					<div>
						<span class="las la-dollar-sign"></span>
					</div>
				</div>

				<div class="card-single">
					<div>
						<h1>456.00</h1>
						<span>Active deposit</span>
					</div>
					<div>
						<span class="las la-dollar-sign"></span>
					</div>
				</div>

				<div class="card-single">
					<div>
						<h1>6000.00</h1>
						<span>Total balance</span>
					</div>
					<div>
						<span class="las la-dollar-sign"></span>
					</div>
				</div>
			</div>
			
			<div class="recent-grid">
				<div class="projects">
					<div class="card">
						<div class="card-header">
							<h3>Profile Info</h3>

							<a href="edit.html"><button>edit <span>
							</span></button></a>
						</div>

						<div class="card-body">
							<div class="table-responsive">
								<table width="100%">
									<thead>
										<tr>
											<td><h3>User details</h3></td>
											<td><h3>User info</h3></td>
											
										</tr>
									</thead>
									<tbody>
										<tr>
											<td><h4>Fullname</h4></td>
											<td> Nicholas Lawson</td>
										
										</tr>
										<tr>
											<td><h4>Username</h4></td>
											<td> Nicknick</td>
										
										</tr>
										<tr>
											<td><h4>Registered date</h4></td>
											<td>Feb-1-2022</td>
									
										</tr>
										<tr>
											<td><h4>email</h4></td>
											<td>1nicklawson@gmail.com</td>
										</tr>
										<tr>
											<td><h4>BTC wallet</h4></td>
											<td>fyugjqgwuftfuwt548249iygediy1284686246828e6284</td>
										</tr>
										<tr>
											<td><h4>ETH wallet</h4></td>
											<td>fyu4564edfy65rfgy76trfghuytghu7ythuyuiuyhuthjuiyh</td>
										</tr>
										<tr>
											<td><h4>USDT wallet</h4></td>
											<td>1iuiyiyiiuyf68686r86r86r86futf6786f7tfuutgug7f767675</td>
										</tr>
										<tr>
											<td><h4>referral link</h4></td>
											<td>http://wallstreetulls.tech/?ref=Nicknick</td>											
										</tr>
									</tbody>
								</table>
							</div>
						</div>

					</div>
				</div>
				
				<div class="customers">
					<div class="card">
						<div class="card-header">
							<h3>Wallet balance</h3>

							<p>$60000.00</p>
						</div>
						<div class="card-header">
							<h4>Pending deposit</h4>

							<p>$0.00</p>
						</div>

						<div class="card-header">
							<h4>History</h4>

							<a href="history.html"><button>proceed <span>
							</span></button></a>
						</div>

					</div>
				</div>	
			</div>			
		</main>
	</div>
</body>
</html>
